<template>
  <div id="display">
    <!--    test-->
    <v-list>
      <v-list-tile
        v-for="item in info"
        :key="item.title"
        @click="showReadMe(item.title)"
      >
        <v-list-tile-content>
          <v-list-tile-title
            class="repo-name"
            v-text="item.title"
          ></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <!--    end test-->
    <v-btn flat color="green" @click="goToLanding">Go To Search</v-btn>
  </div>
</template>

<script>
import movieApi from "@/services/GithubApi";

export default {
  name: "Display",
  props: {
    username: String
  },
  data() {
    return {
      info: null
    };
  },
  mounted() {
    movieApi
      .fetchUserRepos(this.username)
      .then(response => {
        this.info = response.map(repoData => {
          return {
            title: repoData.name
          };
        });
        // console.table(this.info);
      })
      .catch(error => {
        console.log(error);
      });
  },

  methods: {
    goToLanding() {
      this.$router.push("/");
    },

    showReadMe(reponame) {
      // console.log(reponame);
      this.$router.push("/readmereader/" + this.username + "/" + reponame);
    }
  }
};
</script>

<style scoped>
#display {
  padding: 10px 10px;
}

.repo-name {
  display: block;
  margin: 0 auto;
}
</style>
