<template>
  <div>
    <div class="input-container">
      <v-text-field
        class="input-field"
        label="Github User"
        v-model="github_user"
      >
      </v-text-field>
    </div>
    <v-btn flat color="green" @click="showDetails">search</v-btn>
  </div>
</template>

<script>
export default {
  name: "Landing",
  props: ["message"],
  data() {
    return {
      github_user: ""
    };
  },
  methods: {
    showDetails() {
      this.$router.push("/display/" + this.github_user);
    }
  }
};
</script>

<style scoped>
input {
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
}

.input-field {
  width: 50vw;
  margin: 0 auto;
}

.input-container {
  padding: 20px 0;
}
</style>
