<template>
  <div id="readmereader">
    <div class="html-container" v-html="info"></div>
    <v-toolbar dense floating>
      <v-btn flat color="red" @click="goToLanding">Go To Landing</v-btn>
      <v-btn flat color="green" @click="goBack">Go To Repo List</v-btn>
    </v-toolbar>
  </div>
</template>

<script>
import movieApi from "@/services/GithubApi";

export default {
  name: "ReadmeReader",
  props: {
    username: String,
    repo: String
  },
  data() {
    return {
      info: null
    };
  },
  mounted() {
    movieApi
      .fetchReadME(this.username, this.repo)
      .then(response => {
        this.info = response;
      })
      .catch(error => {
        console.log(error);
      });
  },

  methods: {
    goBack() {
      this.$router.go(-1);
    },
    goToLanding() {
      this.$router.push("/");
    },
    showReadMe(reponame) {
      alert(reponame);
    }
  }
};
</script>

<style scoped>
.html-container {
  display: block;
  margin: 15px;
  padding: 10px 10px;
  border: 2px solid black;
}
</style>
